<div style="position: fixed; left: 15px; bottom: 0; width: 100%">
  <div class="card-header">
    <p>&copy; All Rights Reserved</p>
    <footer class="blockquote-footer">
      <cite title="Source Title">Christin Robinson</cite>
    </footer>
  </div>
</div>
